body
{
	margin: 0;
	padding: 0;
	background: url(best-beautiful-wallpapers.jpg);
	background-size: cover;
	font-family: 'Maven Pro', sans-serif;
}

.loginbox
{
	width: 320px;
	height: 560px;
	background: linear-gradient(135deg, rgba(54,140,245,0.82) 0%, rgba(54,140,245,0.8) 17%, rgba(196,125,19,0.79) 26%, rgba(160,12,245,0.77) 42%, rgba(240,47,23,0.74) 62%, rgba(54,94,214,0.72) 79%, rgba(54,94,214,0.69) 100%);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 10px 60px;
	border-radius: 22%;
	box-shadow: 5px 5px 10px 10px #0293d1;
}

.avatar
{
	width: 200px;
	height: auto; 
}

h1
{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox form p
{
	/**margin: 15px;*/
	/**padding: 15px;*/
	font-weight: bold;
	font-size: 18px;
}

.loginbox input
{
	width: 100%;
	margin-bottom: 10px;
}

.loginbox input[type="text"], input[type="password"]
{
	border: 1px;
	border-bottom: 1px solid #fff; 
	background: white;
	outline: none;
	font-size: 16px;
	border-radius: 3px;
}

.loginbox input[type="submit"]
{
	margin-top: 10px;
	border: none;
	outline: none;
	height: 40px;
	background: #00f2ff;
	color: black;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #e8b809;
	color: #000;
	transition: all 0.3s ease-in;
}

.loginbox a
{
	text-decoration: none;
	font-size: 13px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover
{
	color: #f2a006;
}

